{% extends 'base.html' %}

{% block head %}

<title>Activities Heatmap - Home Page</title>

{% endblock %}

{% block body %}

    <h2>Activites Heatmap - Home page</h2>

    <br>

    {% if current_user.is_authenticated %}
    
    <div class="content">
    <form action="{{ url_for('activities_on_map') }}">
        <input type="submit" class="btn btn-primary btn-lg" value="Heatmap"/>
    </form>
</div>
    <br>
    
    <form action="{{ url_for('update_activities') }}">
        <input type="submit" class="btn btn-outline-primary" value="Update activities database"/>
    </form>

    {% else %}
    <div class="content">
        <h3>Log in with Strava to continue</h3>
    <a class="nav-link" href="{{ url_for('oauth_authorize', provider='strava') }}"><img src="https://github.com/MrDajman/MySportData/blob/main/imgstyle/btn_strava_connectwith_light.png?raw=true" height="80px"/></a>
    </div>
    {% endif %}

{% endblock %}
